<a href="https://colab.research.google.com/github/MCn21thCntry/Practical-Machine-Learning---from-the-rooter-to-the-tooter/blob/main/Intro_ML_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



#```1.Working with Variables and Data Types:```

In [2]:
# Create a variable named your_name and assign your name (as a string) to it.
your_name = "Ferdi"
# Create a variable named your_age and assign your age (as an integer) to it.
your_age = 19
# Print the following sentence using f-strings, including your variables: "Hello, my name is [your name] and I am [your age] years old."
print(f"Hello, my name is {your_name} and I am {your_age} years old.")
# Check and print the data type of both your_name and your_age variables using the type() function.
print(type(your_name))
print(type(your_age))

Hello, my name is Ferdi and I am 19 years old.
<class 'str'>
<class 'int'>

# ```2.Simple Conditional Statement:```

In [3]:
# Write an if-else statement that checks if your_age (from the previous task) is greater than or equal to 18. If it is, print "You are an adult."
your_age = 20
if your_age >= 18:
    print("You are an adult.")
else:
    print("You are not an adult.")

You are an adult.

# ```3.Basic Loop:```

In [4]:
# Use a for loop to print the numbers from 1 to 5. Each number should be printed on a new line.
for i in range(1, 6):
    print(i)

1
2
3
4
5

# ```4.Creating a NumPy Array:```

In [5]:
# Create a NumPy array named my_numpy_array from the following Python list: [5, 10, 15, 20, 25].
import numpy as np
my_numpy_array = np.array([5, 10, 15, 20, 25])
print(my_numpy_array)
# Print the data type of the elements in my_numpy_array using .dtype.
print(my_numpy_array.dtype)

[ 5 10 15 20 25]
int64

# ```5.Basic NumPy Operation:```

In [6]:
# Using the my_numpy_array you created in the previous task, multiply each element in the array by 2.
my_numpy_array = my_numpy_array * 2
print(my_numpy_array)

[10 20 30 40 50]

# ```6.Creating a Pandas Series:```

In [7]:
# Create a Pandas Series named my_pandas_series from the following list of fruits: ['apple', 'banana', 'orange', 'grape'].
import pandas as pd
my_pandas_series = pd.Series(['apple', 'banana', 'orange', 'grape'])
# Print the my_pandas_series.
print(my_pandas_series)

0     apple
1    banana
2    orange
3     grape
dtype: object

# ```7.Creating a Pandas DataFrame and Viewing Data:```

In [8]:
# Create a Pandas DataFrame named my_dataframe from the following dictionary:
data = {'Name': ['StudentA', 'StudentB', 'StudentC'],
        'Major': ['Engineering', 'Science', 'Arts']}
my_dataframe = pd.DataFrame(data)
# Print the first two rows of my_dataframe using .head().
print(my_dataframe.head(2))

       Name        Major
0  StudentA  Engineering
1  StudentB      Science

# ```8.Explore .describe() in Pandas:```

In [9]:
# Create a Pandas DataFrame with a column named 'Numbers' containing the following values: [10, 20, 30, 40, 50, 50, 50]. Use the .describe() function on the 'Numbers' column to get summary statistics.
data = {'Numbers': [10, 20, 30, 40, 50, 50, 50]}
my_dataframe = pd.DataFrame(data)
# Print the output of .describe()
print(my_dataframe['Numbers'].describe())
# count means the numbers of rows/observations inside the dataframe.
# mean means the average of the values of a numeric column/feature
# std means standard deviation of the values of a numeric column
# min means the smallest value inside a numeric column
# 25% means the value in the quarter position of a numeric feature
# 25% means the value in the second quarter position of a numeric feature
# 25% means the value in the third quarter position of a numeric feature
# max means the biggest value inside a numeric column

count     7.000000
mean     35.714286
std      16.183472
min      10.000000
25%      25.000000
50%      40.000000
75%      50.000000
max      50.000000
Name: Numbers, dtype: float64